*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: sans-serif;
}

body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	overflow-y: hidden;
}

#person-card, #status-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;

	border: 1px #aaa solid;
  	padding: 1.5rem;
}

#avatar{
	color: #fff;
	background-color: #000;
	padding: 1.5rem .5rem;
	border-radius: 15%;
}

#status-fixed{
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	position: fixed;
	top: 1.2rem;
}

li{
	list-style: none;
}

input.button{
	border: none;
}

.button, #money{
	font-size: 1rem;
	padding: .5rem;
	cursor: pointer;
}

.button:hover{
	opacity: .8;
}

#money-content{
	width: 25%;
}

#money{
	cursor: default;
	text-align: center;
	width: 100%;
}

#level-content{
	width: 25%;
}

#xp-bar{
	-webkit-appearance: none;
    background: #1755B4;
    outline: none;
    width: 100%;
    height: 15px;
    border-radius: 0px;
}

#xp-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 5%;
    height: 15px;
    border-radius: 0px; 

    background: #0e385c;
}

#xp-points{
	cursor: default;
	text-align: center;
	font-size: 1rem;
	width: 28%;
	border: none;
	padding: 0px;

	background-color: inherit;
	color: inherit;
}

.progress{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
  
.progress-bar{
	-webkit-appearance: none;
    background: #aaa;
    outline: none;
    width: 80%;
    height: 10px;
    border-radius: 0px;
}

.progress-bar::-webkit-slider-thumb {
	cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 12px;
    border-radius: 0%; 

    background: #888888;
}
  
.progress-bar-value{
	cursor: default;
	text-align: center;
	font-size: 1rem;
	width: 15%;
	border: none;
	
	background-color: inherit;
	color: inherit;
}

#inventory{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	width: 315.016px;
	overflow-x: auto;
}

.slot, .slot figure img{
	width: 64px;
	height: 64px;
}

.slot{
	margin: .2rem;
	border: 1px #aaa solid;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* Estilos padrão dos pop-up */

.popup-conteiner{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
	background-color: #00000076;	
}

.not-active{
	position: absolute;
    z-index: -10;

	opacity: 0;
	visibility: hidden;

	animation-name: closePopUp;
	animation-duration: .2s;
}

.active{
	opacity: 1;
	visibility: visible;

	animation-name: openPopUp;
	animation-duration: .2s;
}

/* Keyframes da animação de abertura/fechamento dos pop-ups */

@keyframes openPopUp{
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes closePopUp{
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

/* ################################ */

.pop-up{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;

	background-color: #fff;
	border: 1px solid #555555aa;
	border-radius: 10%;
	padding: 2rem;
}

/* ################################ */

#confirm-text{
	font-size: 1.5rem;
}

.button{
	font-size: 1rem;
	padding: .5rem;
}

#buttons-conteiner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .4rem;
}

#confirm-update, #confirm-button, #save-button, #closeSave{
	color: #fff;
	background-color: #0a0;
	border: none;
}

#save-button, #closeSave{
	font-size: 1.2rem;
	padding: .5rem 1rem;
}

#confirm-update:hover, #confirm-button:hover{
	background-color: #0d0;
	cursor: pointer;
}

#save-button:hover, #closeSave:hover{
	background-color: #fa0;
	cursor: pointer;
}

#cancel-update, #close-button{
	color: #fff;
	background-color: #a00;
	border: none;
}

#cancel-update:hover, #close-button:hover{
	background-color: #d00;
	cursor: pointer;
}

#saveDataPopUp .pop-up{
	padding: 4rem 2rem;
}

#save-text{
	font-size: 2rem;
}

.disable{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

/* Classes de Cores Dinâmicas para o JS */

.onUp{
	color: #0f0;
}

.onDown{
	color: #f00;
}

/* #################################### */

@media(max-width: 720px){
	#xp-points-indicator, #xp-points{
		font-size: .9rem;
	}
	
	#xp-points{
		width: 35%;
	}
}